In [28]:
# Group Review Exercise
import pandas as pd

%matplotlib inline

# Other imports as you see fit (sklearn, etc)

df = pd.read_csv('https://github.com/ga-students/DAT-NYC-37/raw/master/lessons/lesson-11/datasets/titanic.csv')

print df.info()

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
survived    891 non-null int64
pclass      891 non-null int64
name        891 non-null object
sex         891 non-null object
age         714 non-null float64
sibsp       891 non-null int64
parch       891 non-null int64
ticket      891 non-null object
fare        891 non-null float64
cabin       204 non-null object
embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.6+ KB
None

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Your objective:

*Given a set of features for a passenger (as defined in the dataset) predict whether or not they will survive on the Titanic.*


1. Perform any necessary conditioning or cleaning to the data
2. Define the train/test split
3. Choose and Define a model with all relevant parameters for that model
4. Fit the model
5. Determine the precision, recall, and F1 score for this model on the *training* dataset
6. Predict whether passengers with the  following features survive:

```
     pclass     sex   age  sibsp  parch    ticket      fare cabin embarked
          3  female   NaN      8      2  CA. 2343   69.5500   NaN        S
          3    male   NaN      0      0    349214    7.8958   NaN        S
          3    male   NaN      0      0    349253    7.8958   NaN        C
          1    male  44.0      2      0     19928   90.0000   C78        Q
          2    male  31.0      0      0    244270   13.0000   NaN        S
          1  female  31.0      0      2     36928  164.8667    C7        S
          3  female  38.0      1      5    347077   31.3875   NaN        S
          2    male  30.0      0      0     28228   13.0000   NaN        S
          1    male   NaN      0      0  PC 17757  227.5250   NaN        C
          2  female  17.0      0      0   SC 1748   12.0000   NaN        C
```

### Tip: use copy the above block and use pd.read_clipboard() to create a dataframe from the contents of your current clipboard

In [29]:
import pandas as pd
import numpy as np

# We're using a new module from sklearn.linear_model called LogisticRegression
#  
from sklearn.linear_model import LogisticRegression

import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split

%matplotlib inline

In [30]:
# 1 - clean data
if (df.dtypes['sex'] != np.int):
    df.sex = np.where(df.sex == 'Male', 1, 0)

In [31]:
ave_age = np.mean(df.age)

In [32]:
# df.age

In [33]:
df.age.fillna(value=ave_age, inplace=True)
# df.age

In [ ]:
# P Class Dummies
pclass = pd.get_dummies(df.pclass)
pclass.columns = ["pclass_" + str(i) for i in pclass.columns]

df = pd.concat([df,pclass], axis=1)

df.columns
df.head()

In [35]:
# Embarked Dummies
embarked = pd.get_dummies(df.embarked)
# embarked.columns = ["embarked_" + str(i) for i in embarked.columns]

df = pd.concat([df,embarked], axis=1)

df.columns
df.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,pclass_1,pclass_2,pclass_3,C,Q,S
0,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,0.0,0.0,1.0,0.0,0.0,1.0
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C,1.0,0.0,0.0,1.0,0.0,0.0
2,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.0,0.0,1.0,0.0,0.0,1.0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S,1.0,0.0,0.0,0.0,0.0,1.0
4,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,0.0,0.0,1.0,0.0,0.0,1.0

In [36]:
# Select features to include in analysis
# from sklearn import feature_selection

X = df[['age',"sibsp", "parch",'sex', "fare", "C", "Q", "pclass_1","pclass_2"]]
y = df.survived

# feature_selection.f_classif(X,y)

In [37]:
# 2 - Split the data into train and test sets

# random_state is just a seed value for the initial state
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [38]:
# 
train = pd.DataFrame(data=X_train, columns=['age',"sibsp", "parch",'sex', "fare", "C", "Q", "pclass_1","pclass_2"])
train['survived'] = y_train

test = pd.DataFrame(data=X_test, columns=['age',"sibsp", "parch",'sex', "fare", "C", "Q", "pclass_1","pclass_2"])
test['survived'] = y_test

In [56]:
'''
PART II: Training the Model
'''

# 1 - Run a logistic regression on the balance variable
# 2 - Is the beta  value associated with balance significant?

# The model we're using for classification
features = LogisticRegression() 

# TODO: Apply the fit to determine coefficients of our sigmoid function
features.fit(train[['age',"sibsp", "parch",'sex', "fare", "C", "Q", "pclass_1","pclass_2"]], y_train)
# features.fit(train[['survived']], y_train)

features.coef_

B9 = features.coef_[0][8]
B8 = features.coef_[0][7]
B7 = features.coef_[0][6]
B6 = features.coef_[0][5]
B5 = features.coef_[0][4]
B4 = features.coef_[0][3]
B3 = features.coef_[0][2]
B2 = features.coef_[0][1]
B1 = features.coef_[0][0]
B0 = features.intercept_[0]
np.exp(B1)

print "Beta1", B1
print "Beta2", B2
print "Beta3", B3
print "Beta4", B4
print "Beta5", B5
print "Beta6", B6
print "Beta7", B7
print "Beta8", B8
print "Beta9", B9

Beta1 -0.0360189764223
Beta2 -0.206351131376
Beta3 0.367443758798
Beta4 0.0
Beta5 0.00332099727651
Beta6 0.57957176825
Beta7 1.00363472368
Beta8 1.82854871449
Beta9 1.38164928449

In [66]:
# 4 - Create predictions using the model on the test set
test['pred_survived'] = features.predict(X_test)

predicted_survived = test["pred_survived"]
actual_survived = test["survived"]

true_positives = (test["survived"] == test["pred_survived"]) & (test["pred_survived"] == 1)
    
true_negatives = (test["survived"] == test["pred_survived"]) & (test["pred_survived"] == 0)

false_positives = (test["survived"] != test["pred_survived"]) & (test["pred_survived"] == 1)

false_negatives = (test["survived"] != test["pred_survived"]) & (test["pred_survived"] == 0)


print "N: ", len(test)
print "# TP: ", sum(true_positives)
print "# TN: ", sum(true_negatives)
print "# FP: ", sum(false_positives)
print "# FN: ", sum(false_negatives)

N:  268
# TP:  51
# TN:  128
# FP:  25
# FN:  64

In [78]:
n = len(test)
tp = sum(true_positives)  # 25
tn = sum(true_negatives)  # 2903
fp = sum(false_positives) # 6
fn = sum(false_negatives) # 66

print "N: ", len(test)
print

from sklearn import metrics

recall = float(tp) / (tp + fn)
print "Recall by hand: ", recall
print "Sklearn: ", metrics.recall_score(test['survived'], test['pred_survived']), "\n"

precision = float(tp) / (tp + fp)
print "Precision By hand: ", precision

N:  268

Recall by hand:  0.44347826087
Sklearn:  0.44347826087

Precision By hand:  0.671052631579

In [71]:
f_score = (2* recall * precision) *(recall + precision)
f_score

0.6633626661918951

In [80]:
metrics.auc?