# DAT-NYC-37 | Lab 11 | Introduction to Logistic Regression

In [22]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model, cross_validation

pd.set_option('display.max_rows', 50)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 50)

%matplotlib inline
plt.style.use('ggplot')

In [35]:
from sklearn import feature_selection

import sklearn

df = pd.read_csv('https://github.com/ga-students/DAT-NYC-37/raw/master/lessons/lesson-11/datasets/bank-marketing.csv')

,age,job,marital,education,default,...,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,...,1,-1,0,unknown,no
1,33,services,married,secondary,no,...,1,339,4,failure,no
2,35,management,single,tertiary,no,...,1,330,1,failure,no
3,30,management,married,tertiary,no,...,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,...,1,-1,0,unknown,no

The dataset is related to the direct marketing campaigns (by phone) of a Portuguese banking institution.  The classification goal is to predict if the client will subscribe a term deposit (variable y).

Attribute Information:

- Input variables:
  - [Bank client data]
    - `age` (numeric)
    - `job`: type of job (categorical)
    - `marital`: marital status (categorical)
      - Note: `divorced` means divorced or widowed)
    - `education` (categorical)
    - `default`: has credit in default? (categorical)
    - `balance`: bank account balance (\$)
    - `housing`: has housing loan? (categorical)
    - `loan`: has personal loan? (categorical)
  - [Data related with the last contact of the current campaign]
    - `contact`: contact communication type (categorical) 
    - `month`: last contact month of year (categorical)
    - `day_of_week`: last contact day of the week (categorical)
    - `duration`: last contact duration, in seconds (numeric)
      - Important note: this attribute highly affects the output target (e.g., if `duration = 0` then `y = 'no'`). Yet, the duration is not known before a call is performed.  Also, after the end of the call y is obviously known.  Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.    
  - [Other attributes]
    - `campaign`: number of contacts performed during this campaign and for this client (numeric)
    - `pdays`: number of days that passed by after the client was last contacted from a previous campaign (numeric)
      - 999 means client was not previously contacted
    - `previous`: number of contacts performed before this campaign and for this client (numeric)
    - `poutcome`: outcome of the previous marketing campaign (categorical)

- Output variable (desired target):
  - `y`: has the client subscribed a term deposit? (binary)

## Our goal is to develop a model the best predicts the outcome `y`, the success of the marketing campaign

> ## Question 1.  Remove the categorical variables with the most number of distinct values

In [23]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [ ]:
df.apply(pd.Series.nunique)
# categorical variables: job, marital, education, default, housing, loan, contact, poutcome, y

# binary bariables
# default, housing, loan, y

In [21]:
# del df["job"]

age            67
job            12
marital         3
education       4
default         2
balance      2353
housing         2
loan            2
contact         3
day            31
month          12
duration      875
campaign       32
pdays         292
previous       24
poutcome        4
y               2
dtype: int64

Answer:

> ## Question 2.  Recode all `yes`/`no` categorical variables with `0` as the most frequent value (then also append `"_no"` to the variable name), and `1` for the other (then leave the name unchanged)

In [36]:
df.default.value_counts()

no     4445
yes      76
Name: default, dtype: int64

In [46]:
if (df.dtypes["default"] != np.int):
    df.default_no = np.where(df.default == 'yes', 1, 0)
#     df.default_no = np.replace("yes", 1)

    
df.default.value_counts()

no     4445
yes      76
Name: default, dtype: int64

In [45]:
if (df.dtypes["housing"] != np.int):
    df.housing_no = np.where(df.housing == 'yes', 1, 0)
#     df.default_no = np.replace("yes", 1)

    
df.housing.value_counts()

yes    2559
no     1962
Name: housing, dtype: int64

In [48]:
if (df.dtypes["loan"] != np.int):
    df.loan_no = np.where(df.loan == 'yes', 1, 0)
#     df.default_no = np.replace("yes", 1)

    
df.loan.value_counts()

no     3830
yes     691
Name: loan, dtype: int64

> ## Question 3.  Create binary/dummy variables for the other categorical variables

> ## Question 4.  What should be your baseline for these binary variables (namely, which binary variables should you not include in your model)?

Answer:

> ## Question 5.  What input variable in the dataset seems to predict the outcome quite well.  Why?

Answer:

> ## Question 6.  Split the dataset into a training set (60%) and a testing set (the rest)

> ## Question 7.  Run a logistic regression with `age`, `marital` (the dummies), `default`, `balance`, `housing`, `loan`, `campaign`, `pdays`, `previous`?

> ## Question 8.  What is your training error?  What is your generalization error?  Does it make sense?

Answer:

> ## Question 9.  Interpret your coefficients. (At least `marital_single`, `campaign`, and `default`).  Does your interpretation  make sense?

Answer:

> ## Question 10.  What is your prediction for a 30 years old single female, a homeowner with a \$1,000 balance in the bank, without a loan, who has never been contacted before, and who has never defaulted.

Answer:

> ## Question 11.  Normalize your variables.  (You can reuse the function from the previous lab)

> ## Question 12.  Let's do some regularization.  Use 10-fold cross validation to find the best tuning parameter `c`

(Hint: check the documentation here: http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.linear_model.LogisticRegression)

Note: `c` is just the inverse of $\lambda$ - the smaller $c$, the stronger the regularization. The smaller values choose less variables

(Hint 2: First try c = 10 ^ i with i = -10 ... 10)

Answer:

> ## Question 13.  Now use the best `c` you found above and repeat your analysis; look over your coefficients

> ## Question 14.  If you want to drop 3 variables from your analysis, which variables will you choose?

Answer: